<!-- 
<center>
<FORM method=GET class="form-inline" action="http://www.google.com/search">
<input type=hidden name=ie value=UTF-8>
<input type=hidden name=oe value=UTF-8>
<TABLE bgcolor="#FFFFFF"><tr><td>
<A HREF="http://www.google.com/">
<IMG SRC="http://www.google.com/logos/Logo_40wht.gif"
border="0" ALT="Google" align="absmiddle"></A>
<INPUT TYPE=text name=q size=25 maxlength=255 value="">
<INPUT type=submit class="btn" name=btnG VALUE="Google Search">
</td></tr></TABLE>
</FORM>
</center>
Search Google 

<iframe src="http://lmgtfy.com/?q=how+to+pos" frameBorder="0" scrolling="no"
  style="width:100%;height:100%;min-height:480px;"></iframe>

<script type="text/javascript">
  window.setTimeout(function () { window.location = "https://www.google.com/search?btnG=1&pws=0&q=how+to+pos" }, 10000);
</script> -->

<%= title "User Manual" %>

<h3>FAQ</h3>

<h4>Basic Logging in and Getting Started</h4>

1. How to log in

<p>To log in simply hit the login button located on the top right corner. Type the email address and password you have set, then click Login!
Alternatly you can select the home page and it should bring you to the login screen.
 If you havnt register before, please see 'How Do I Register'. 
</p>

2. How do I register
<p>
Select Home page from the top menu bar. It should bring you to the log in screen. Under the password field there should be a green button saying "Sign up". Select that button and it will bring you to the sign in screen.
</p>
<p>
Under the sign up screen, fill in the correct details in each of the textboxes. Your will only be a default as you need staff with higher perminssion level to change your role. Then simply hit sign up and you will be registered! 
</p>


3. How to get to cash register view
<p>
After logging in (if having trouble see "How to log in"), It should bring you to the home page. If you, go to top tool bar and select “Home”. 
 </p>
<p>
If after that you still cannot see the cash register view, you may not be authorized to use the cash register view. Please contact your administrator/ manager.	
 </p>

 4. How do I get to the Stock Control View?
<p>
After logging in (if having trouble see "How to log in"), It should bring you to the home page. If you, go to top tool bar and select “Home”. 
 </p>
<p>
If after that you still cannot see the cash register view, you may not be authorized to use the cash register view. Please contact your administrator/ manager.
 </p>

 5. How do I get to the Reporting view?
<p>
After logging in (if having trouble see "How to log in"), It should bring you to the home page. If you, go to top tool bar and select “Home”. 
 </p>
<p>
If after that you still cannot see the cash register view, you may not be authorized to use the cash register view. Please contact your administrator/ manager.
 </p>

<h4>Cash Register Function</h4>

6. How do I purchase goods? 
<p> 
Simply use your barcode scanner to scan the products, the product name and price should appear on the left side. Once you finish you may click proceed to payment. From there you can add the customer if they have joined the loyalty program. Select the corresponding payment type and once finished select finish.  This should show and print the receipt for the corresponding purchase. 
</p>

7. Peter came and bought 60 watermelons, I am just a checkout chick and can’t count, what do I do?
<p>
In order to process this, you could scan the watermelon 60 times. Or you could simply change the number of items to 60 then scan the product. 
 </p>

 8. Why is it that I am scanning this item and it’s not showing up?
<p>
There could be a few reasons for this, the most common one is that the product is not for sale in this store, so it’s not registered in the system. The second reason is that the database actually indicate we don’t have any more stock on that item, so the item you are holding is not from our store. Please contact your manager/ stock control officer in case that happens. 
 </p>

9. If the customer wants to pay partly by card and partly by cash, what do I do?
<p> 
Once you finish processing payment, you can proceed to payment and there you will have the option to select payment type. You could select “Other Payment” then enter in the amount they want to pay on their card. After that the subtotal will lower, and you can process the rest with the cash payment option. 
</p>

10. Why can’t I find the customer on the customer selection box?
<p> 
The main reason is because the customer has not registered in the loyalty program. They could do that but registering for a new account. 
</p>

11. Why does it ask if I want to continue my existing sale?
<p> 
This is mainly due to you leaving an existing sale and starting a new sale without deleting/ finishing with the existing one. If you want to continue just select the continue sales button.
</p>

12. How do I refund something?
<p> 
To refund a product you can either enter the Sales ID into the textbox, or scan the QR code on the receipt. This will show what product is on that sale and you can select which product they wanted to be refunded. 
</p>

<h4> Stock Control </h4>

17. What’s all the reports available?
<ul>
<li>Stock Levels: Shows the current location of all the stock the company sales, the quantity stored in that location and the threshold. </li>
<li>Product: Shows the different product the store currently sales. Along with a view on the quantity/ threshold in each of the location which have this stock in stock. Here you have the ability to change the retail price of the product, or to deactivate a product if you are not selling it anymore. </li>
<li>Suppliers: Shows the different suppliers which currently supplies all the product for the stores. You have the ability to add a new supplier, edit an existing supplier or destroy an existing supplier. </li>
<li>Stock Location: Shows all the stock location which can hold stock, this usually includes floor, backroom, warehouse etc. In here you have the ability to edit how much the stock location can hold, destroy one of the stock location or add a brand new stock location. </li>
<li>Stock Transfer: This shows all the stock which are currently “in transit”, or completed. You could manually create a new stock transfer, or adjust the quantity for the current transfer ( if it is not too late). </li>
<li>Supplier Stock Order: This shows all the stock which are being ordered from the supplier. You can view orders which have been created, currently in process or completed.</li>
</UL>

14. Our store is running low on stock, what do I do?
<p> 
With POS the stock order happens automatically. If the stock level is below the set threshold then the stock will automatically reorder. However you can create a stock transfer if you think you need more stock before the threshold is reached.
</p>

15. I just submitted an order, but now I want more, what I do. 
<p>
To do this you can quickly go to Stock Transfers, then adjust the quantity if it is still at the “in Progress Page”.
</p>

16. What do I do when the stock order arrives?
<p> 
First you check if the product and the quantity delivered matches the amount in the system, if its all correct then you can press “complete”
</p>

<h4> Report </h4>

17. What’s all the reports available?

<ul>
<li>Stock Levels: Shows the current location of all the stock the company sales, the quantity stored in that location and the threshold. </li>
<li>Product: Shows the different product the store currently sales. Along with a view on the quantity/ threshold in each of the location which have this stock in stock. Here you have the ability to change the retail price of the product, or to deactivate a product if you are not selling it anymore. </li>
<li>Suppliers: Shows the different suppliers which currently supplies all the product for the stores. You have the ability to add a new supplier, edit an existing supplier or destroy an existing supplier. </li>
<li>Stock Location: Shows all the stock location which can hold stock, this usually includes floor, backroom, warehouse etc. In here you have the ability to edit how much the stock location can hold, destroy one of the stock location or add a brand new stock location. </li>
<li>Stock Transfer: This shows all the stock which are currently “in transit”, or completed. You could manually create a new stock transfer, or adjust the quantity for the current transfer ( if it is not too late). </li>
<li>Supplier Stock Order: This shows all the stock which are being ordered from the supplier. You can view orders which have been created, currently in process or completed. </li>
</ul>



<h4>Membership and Staff Management </h4>

18. How do I promote a staff?
<p>
You simply go to the staff management, then select edit, then you can change their roles. Note: changing roles will change their privileges.
 </p>

 19. How do I set user discounts?
<p>
 Go to user management page, you can individually select each member and change their discount %, or you can change their membership type (bronze/ silver/ gold)
</p>
