
<% title "Home" %>

<h1>Welcome To POSSIE</h1>


<div class="row-fluid">
	<div class="span12">
	  <div class="well">
	  	
		<% if user_signed_in? %>
		<% if current_user.can_checkout %>
		<a class="btn btn-super" href="#cash-register">Cash Register</a>
		<% end %>
		<% if current_user.can_manage_stock %>
		<a class="btn btn-super" href="/stock_control">Stock Control</a>
		<% end %>
		<% if current_user.can_report %>
		<a class="btn btn-super" href="#reporting">Reporting</a>
		<% end %>
		<% end %>

	  </div>
   </div>
</div>