<div class="page-header">
  <h1>
    Step 2
    <small>Add Products:</small>
  </h1>
</div>


<%= render :partial => 'sale_items/sale_items' %>


<%= link_to 'Add Item', new_sale_sale_item_path(@sale), :class => "btn btn-success" %>
<%= link_to 'Proceed to Payment', '#', :class => "btn btn-success" %>

<br />