@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,700,300,400);

html, body {
	font-family: 'Open Sans',sans-serif;
	font-weight: 300;
	font-size: 11pt;
	line-height: 16pt;
}

.wrapper > .container {
	padding-top: 60px;
}

.btn-super {
  padding: 25px 35px;
  min-width: 130px;
  font-size: 20px;
  line-height: normal;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.btn-super [class^="icon-"] {
  margin-top: 1px;
}

.hide-this-shit {
  margin-top: -40px;
}