<% title "New Cart" %>

<h1>You have sales in progress</h1>

<p>Please review any sales in progress. If you like you can also start a new sale.</p>
<%= button_to 'New Sale', sales_path, :class  => 'btn btn-large' %>

<%= render :partial => 'sales/list', :locals => { :sales => @current_sales } %>
