<%= title "Customer Report" %>

<table class="table table-bordered table-striped">
  <tr>
    <th>Customer</th>
    <th>Number of Purchases</th>
    <th>Total of Purchases</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.num_purchases %></td>
    <td><%= number_to_currency(user.total_purchases) %></td>
  </tr>
<% end %>
</table>
