<% title "Reports" %>

<h1>Welcome To Reporting Center</h1>

<div class="row-fluid">
  <div class="span12">
    <div class="well btn-group" style="text-align:center;">
      <a class="btn btn-large" href="/reports/sale">Sales</a>
      <a class="btn btn-large" href="/reports/supplier">Suppliers</a>
  	  <a class="btn btn-large" href="/reports/staff">Staff</a>
  	  <a class="btn btn-large" href="/reports/stock">Stock</a>
  	  <a class="btn btn-large" href="/reports/financial">Financial</a>
  	  <a class="btn btn-large" href="/reports/customer">Customer</a>
    </div>
  </div>
</div>