<%= title "Staff Report" %>

<table class="table table-bordered table-striped">
  <tr>
    <th>Employee</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
  </tr>
<% end %>
</table>
